#!/bin/bash

# This file serves as an example and template
# For real use, make sure you've completed the steps required to set up MariaDB and
# imported the example utasuki database. The .sql file can be found in /resources/
#
# When done, rename this file to ".env". This file is later sourced in the start scripts

export DB_USER="utasuki"
export DB_PASS="<YOUR_PASSWORD>"
export DB_NAME="utasuki_example"
# used for auth token generation. see https://jwt.io/
export TOKEN_SECRET=""
