node_modules
.temp/*
!.temp/.gitkeep
.env
.env.*
!.env.example
tmux_start_prod.sh
cert/*
!cert/.gitkeep

public/images/profile_pictures/*
public/images/album_covers/*
!public/images/profile_pictures/default.webp
!public/images/album_covers/default.webp
